<section class="relative h-screen w-full">
  <%= image_tag "hero-bg.png", class: "w-full h-full object-cover" %>
  
  <div class="absolute inset-0 bg-gradient-to-r from-[#003366]/90 via-[#003366]/70 to-[#003366]/40"></div>

  <div class="absolute inset-0 z-10">
    </div>
</section>
<div class="h-screen bg-gray-200 flex items-center justify-center">
  <p class="text-gray-500 text-xl">Continue rolando para testar a Navbar...</p>
</div>
