<h1>Painel Administrativo</h1>

<%= link_to "Criar Novo Curso", new_curso_path %>

<h2>Todos os Cursos</h2>
<ul>
  <% Curso.all.each do |curso| %>
    <li>
      <%= curso.nome %> (<%= curso.status %>) - 
      <%= link_to "Editar", edit_curso_path(curso) %>
    </li>
  <% end %>
</ul>
